footer.footer 
	.section_in 
		.footer_main_w
			.footer_main_left
				.footer_logo 
					a(href="#")
						+pic({
							img: 'i/global/footer_logo',
							png: true,
						})
				.footer_copyright ©  Все права защищены, 2022
				.footer_policy 
					a(href="#") Политика конфиденциальности
			.footer_main_right 
				.footer_arkada 
					a(href="#")
						p Разработано arkada-web.ru
						.footer_arkada_logo 
							+pic({img: 'i/global/favicon', png: true})
