//------------------------------------------------------------layout
.footer {
	width: 100%;
	min-height: $footer;
	flex: 0 0 auto;
	will-change: transform;
	position: relative;
}

// Footer main


.footer {
}
.section_in {
}
.footer_main_w {
}
.footer_main_left {
}
.footer_logo {
}
.cover_img {
}
.footer_copyright {
}
.footer_policy {
}
.footer_main_right {
}
.footer_arkada {
}
.footer_arkada_logo {
}