
// Сброс стилей input
@mixin app {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	background-color: transparent;
	font-family: $font_1;
	font-size: $font_size_base;
}

// Input end


// Flex styles

@mixin flex-center {
	justify-content: center;
	display: flex;
	align-items: center;
}

@mixin flex-col {
	flex-direction: column;
}

@mixin flex-start {
	justify-content: flex-start;
	display: flex;
	align-items: center;
}

@mixin flex-space {
	justify-content: space-between;
	display: flex;
	align-items: center;
}

@mixin flex-end {
	justify-content: flex-end;
	display: flex;
	align-items: center;
}

// End flex styles

// Style default link


@mixin link {
	position: relative;
	&:before {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0;
		content: '';
		border-bottom: .2rem solid $black;
		transition: all .3s ease;
		pointer-events: none;
	}
	&:hover {
		&:before {
			width: 100%;
		}
	}
	&.active {
		&:before {
			width: 100%;
		}
	}
}

// End style link

@mixin beforeLine {
	position: relative;
	&:before {
		position: absolute;
		top: 0;
		left: 0;
		width: 14.1rem;
		background-color: $white;
		border-bottom: .3rem solid $white;
		content: '';
	}
}

@mixin actionWhite {
	button {
		background-color: $white;
		padding: 2.3rem 7.5rem 2.3rem 5.2rem;
		position: relative;
		&:hover {
			.btn_icons {
				transform: translateX(1rem) translateY(-50%);
			}
		}
	}
	p {
		font-size: 1.8rem;
		font-family: $font_2;
		color: $dark;
		text-transform: uppercase;
	}
	.btn_icons {
		position: absolute;
		top: 50%;
		right: 5.2rem;
		transform: translateY(-50%);
		background-image: url('../../i/global/btn.svg');
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: center center;
		width: 1rem;
		height: 1.6rem;
		transition: all .3s ease;
	}
}

@mixin actionBlack {
	display: inline-flex;
	a, button {
		background-color: $blue;
		padding: 2.3rem 10.3rem 2.3rem 8.1rem;
		position: relative;
		&:hover {
			.btn_icons {
				transform: translateX(1rem) translateY(-50%);
			}
		}
	}
	p {
		font-size: 1.8rem;
		font-family: $font_2;
		color: $white;
		text-transform: uppercase;
	}
	.btn_icons {
		position: absolute;
		top: 50%;
		right: 7.8rem;
		transform: translateY(-50%);
		background-image: url('../../i/global/btn_white.svg');
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: center center;
		width: 1rem;
		height: 1.6rem;
		transition: all .3s ease;
	}
}

@mixin beforeBg {
	position: relative;
	&:before {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(0deg, rgba(29, 51, 65, 0.8), rgba(29, 51, 65, 0.8));
		content: '';
	}
}

@mixin inputs {
	@include app;
	background-color: rgba(255, 255, 255, 0.808);
	font-size: 1.8rem;
	font-family: $font_1;
	padding: 2.3rem;
	&:focus {
		&:-ms-input-placeholder {
			opacity: .3;
		}
		&::-webkit-input-placeholder {
			opacity: .3;
		}
	}
	&:-ms-input-placeholder {
		color: $dark;
	}
	&::-webkit-input-placeholder {
		color: $dark;
	}
}